button.my-classicButton path {
  transition: stroke 200ms linear;
}

/* Transition */
button.my-audioControlBtn,
button.my-versionItem,
button.my-authProviderButton,
button.my-noBgButton,
button.my-classicButton,
button.my-optionsModalBtn {
  transition: transform 400ms ease-out, 
  background 250ms linear, color 200ms linear;
}

button.my-classicButton:hover {
  background: var(--accent);
  border-color: var(--accent);
}

/* on active */
button.my-audioControlBtn,
button.my-noBgButton:active,
button.my-classicButton:active {
  transform: scale(0.93);
}

button.my-noBgButton:hover {
  background: var(--gray);
}

/* Tab Button */
.my-tabButton button {
  position: relative;
  z-index: 1;
  opacity: .4;
  transition: opacity 200ms linear;
}

.my-tabButton button:hover {
  opacity: 1;
}

.my-tabIndicator {
  width: calc(50% - 3px);
}

.my-tabButton .selected-tab {
  opacity: 1;
}


/* Nav Menu Item | Thought Items */
button.my-thoughtItem,
button.my-navMenuItem {
  transition: background 200ms linear;
}

/* button.my-thoughtItem:hover, */
button.my-thoughtItem.is-renaming,
button.my-thoughtItem.is-selected,
button.my-thoughtItem:hover,
button.my-navMenuItem:hover {
  background: var(--gray);
}

/* My Auth Provider Button */
button.my-authProviderButton:hover {
  background: var(--black);
  border-color: var(--black);
  color: white;
}

button.my-authProviderButton:hover path.make-white {
  fill: var(--white);
  stroke: var(--white);
}


/* Rich text nav menu button */
button.my-navMenuButton:hover {
  background-color: var(--color-dark-gray-hover);
}

.my-nav-ind-button[data-disable="true"] {
  pointer-events: none;
  opacity: .4;
}

.my-nav-ind-button[data-disable="false"] {
  pointer-events: all;
  opacity: 1;
}


/* Options modal button for the dashboard navigation */
button.my-optionsModalBtn:hover {
  background: var(--gray);
}

button.my-optionsModalBtn[data-index="3"]:hover {
  background: color-mix(in oklab, var(--accent) 20%, transparent);
}

/* versions */
button.my-versionItem[data-selected="false"]:hover {
  opacity: .7 !important;
}

/* audio control button (play & pause) */
button.my-audioControlBtn:disabled {
  opacity: .5;
  pointer-events: none;
}