@import "tailwindcss";

:root {
  --off-white: #F0F0F0;
  --white: #FFF;
  --black: #000;
  --gray: #EBEBEB;
  --border-gray: #C7C7C7;
  --tab-gray: #DDD;
  --fade-gray: #727272;
  --accent: #FE7A33;
}

@theme inline {
  --color-off-white: var(--off-white);
  --color-myWhite: var(--white);
  --color-myBlack: var(--black);
  --color-myGray: var(--gray);
  --color-border-gray: var(--border-gray);
  --color-tab-gray: var(--tab-gray);
  --color-accent: var(--accent);
  --color-fade-gray: var(--fade-gray);

  /* TYPOGRAPHY */
  --text-label-small: 0.75rem;
  --tracking-label-small: 0.03ch;
  --text-h1: 2.8125rem;
  --tracking-h1: -0.01ch;
  --text-title:  1.5625rem;

}

body {
  background-color: var(--off-white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1;
}

button {
  cursor: pointer;
}

::selection {
  background: var(--accent);
  color: var(--black);
}

/* Hide scrollbar */
*.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

*.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*.slim-scrollbar::-webkit-scrollbar {
  width: 2px;
}

*.slim-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  padding-block: 100px;
}

*.slim-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
}

*.slim-scrollbar.reduce-sb-height::-webkit-scrollbar-thumb {
  border-block: 20px solid transparent;
}


/* Slate container */
.my-slateContainer {
  height: calc(47.75rem - 6.5rem);
}