@import "tailwindcss";

:root {
  --off-white: #F7F7F7;
  --white: #FFF;
  --black: #000;
  --gray: #EBEBEB;
  --border-gray:#C7C7C7;
  --accent: #8A38F5;
}

@theme inline {
  --color-off-white: var(--off-white);
  --color-myWhite: var(--white);
  --color-myBlack: var(--black);
  --color-myGray: var(--gray);
  --color-border-gray: var(--border-gray);
  --color-accent: var(--accent);
}

body {
  background-color: var(--off-white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
